#book-details {
    display: flex;
    flex-direction: column;
    gap:20px;
    
    
}

.book {

    background-color: bisque;
    width: 350px;
    border-radius: 15px;
    padding: 10px 15px;
    font-family: sans-serif;
    color:rgb(149, 99, 34); 
}